*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    font-family: "隶书";
    background: #215F39;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
header >img{
    width: 100%;
}
header .topnav{
    margin-top: 20px;
    background: #f0f0f0;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #f0f0f0;
}
header .topnav a {
    color: #333;
    letter-spacing: 5px;
}
header .topnav a img{
    width: 50px;
}
header .navbar{
    margin-bottom: 30px;
    height: 60px;
}
header .navbar li{
    text-align: center;
    font-size: 20px;
    float: left;
    line-height: 60px;
    width:18%;
    margin: 0 1%;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
header .navbar li:nth-child(1).active{
    border-color:red; 
}
header .navbar li:nth-child(2).active{
    border-color:greenyellow; 
}
header .navbar li:nth-child(3).active{
    border-color:skyblue; 
}
header .navbar li:nth-child(4).active{
    border-color:orange; 
}
header .navbar li:nth-child(5).active{
    border-color:purple; 
}

header .navbar li:nth-child(1) a{
    color: red;
}

header .navbar li:nth-child(2) a{
    color: greenyellow;
}
header .navbar li:nth-child(3) a{
    color: skyblue;
}
header .navbar li:nth-child(4) a{
    color: orange;
}
header .navbar li:nth-child(5) a{
    color: purple;
}

.main .photowall {
    /* position: absolute; */
    background: lightcoral;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #f0f0f0;
    transition: all 0.5s;
}
.main .photowall:hover{
    box-shadow: 0 0 30px #f0f0f0;
    transform: translateY(-10px);
}
.main .photowall .wall_a{
    width: 1040px;
    margin: 0 auto;
    
}
.main .photowall li {
    float: left; 
    overflow: hidden;
}
.main .photowall li>a>img{
    height: 100%;
    transition: all 0.3s;
}
.main .photowall li img:hover{
    transform: scale(1.2);
}


.main{
    margin-top: 30px;
    overflow: hidden;
}
.main .top-box{
    background: yellowgreen;
    border-radius: 5px;
    position: relative;
    height: 256px;
}
.main .top-box  .swiper{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    overflow: hidden;
}
.main .top-box .swiper .items{
    width: 2400px;
}
.main .top-box .swiper .items a{
    float: left;
}
.main .top-box .swiper .items a img{
    width: 300px;
    height: 256px;
}
.main .top-box .beyouself{
    height: 256px;
    position: relative;
}
.main .top-box .beyouself p{
    font-size: 30px;
    text-align: center;
    padding-left: 300px;
    line-height: 256px;
    transition: all 1s;
}
.main .top-box .beyouself p:nth-child(2){
    width: 30px;
    position: absolute;
    top: 0;
    right: 100px;
    line-height: 30px;
    transform: translateY(-300px);
    opacity: 0;
}
.main .top-box .beyouself:hover p:nth-child(1){
    transform: translateX(-100px);
}
.main .top-box .beyouself:hover p:nth-child(2){
    transform: translateY(80px);
    opacity: 1;
}
.main .article{
    border-radius: 5px;
    margin-top: 30px;
    overflow: hidden;
    background:linear-gradient(to bottom ,skyblue,blue);
}
.main .article p{
    font-family: "楷体";
    padding: 20px;
    font-size: 18px;
    text-indent: 28px;
}
.main .article h2{
    line-height: 50px;
    font-size: 30px;
    font-style: italic;
    display: block;
    background:linear-gradient(to right ,yellow,red);
}
.main .words{
    position: absolute;
    font-size: 24px;
    transform-origin: left bottom;
}