---
// 返回顶部
import BackTop from "@/components/BackTop/BackTop.astro";
// import ThemeToggle from "@/components/FixBar/ThemeToggle.astro";
// import ThemeColorToggle from "@/components/FixBar/ThemeColorToggle.astro";
---

<div class="fix-bar fixed bottom-4 right-4">
    <BackTop />
    <!-- <ThemeToggle />
    <ThemeColorToggle /> -->
</div>
