*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    font-family: "隶书";
    background: #215F39;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.w{
    width: 1200px;
    margin: 0 auto;
}

/* 头部标题 */
header .main-title {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}
header .main-title .txt-title {
    font-size: 36px;
    color: rgba(0, 255, 42,0.8);
    margin-bottom: 30px;
}
header .main-title .title-desc{
    font-size: 20px;
}
header .main-title .title-desc i {
    color: red;
}
header .main-title .title-desc i:nth-child(2) {
    color: green;
}
header .main-title .title-desc i:nth-child(3) {
    color: blue;
}

header >img{
    width: 100%;
    min-width: 1200px;
}
header .topnav{
    margin-top: 20px;
    background: #f0f0f0;
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #f0f0f0;
}
header .topnav a {
    color: #333;
    letter-spacing: 5px;
}
header .topnav a img{
    width: 50px;
}
header .navbar{
    margin-bottom: 10px;
    height: 60px;
    position: relative;
    z-index: 99;
}
header .navbar li{
    text-align: center;
    font-size: 20px;
    float: left;
    line-height: 60px;
    margin: 0 4%;
    border-bottom: 2px solid transparent;
    transition: all 0.5s;
}
header .navbar li:nth-child(1).active{
    border-color:red; 
}
header .navbar li:nth-child(2).active{
    border-color:greenyellow; 
}
header .navbar li:nth-child(3).active{
    border-color:skyblue; 
}
header .navbar li:nth-child(4).active{
    border-color:orange; 
}
header .navbar li:nth-child(5).active{
    border-color:purple; 
}

header .navbar li:nth-child(1) a{
    color: red;
}

header .navbar li:nth-child(2) a{
    color: greenyellow;
}
header .navbar li:nth-child(3) a{
    color: skyblue;
}
header .navbar li:nth-child(4) a{
    color: orange;
}
header .navbar li:nth-child(5) a{
    color: purple;
}
.main {
    overflow: hidden;
}
.main .slide_box .section1 .photowall {
    position: relative;
    background: lightcoral;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #f0f0f0;
    transition: all 0.5s;
}
.main .slide_box {
    width: 6740px;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.74, 0.05);;
}
.main .slide_box .section1 .photowall:hover{
    box-shadow: 0 0 10px #f0f0f0;
    transform: translateY(10px);
}
.main .slide_box .section1 .photowall .wall_a{
    width: 1040px;
    margin: 0 auto;
    
}
.main .slide_box .section1 .photowall li {
    float: left; 
    overflow: hidden;
}
.main .slide_box .section1 .photowall li>a>img{
    height: 100%;
    transition: all 0.3s;
}
.main .slide_box .section1 .photowall li img:hover{
    transform: scale(1.2);
}


.main .slide_box .section1{
    overflow: hidden;
}
.main .slide_box .section1 .top-box{
    background: yellowgreen;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 256px;
}
.main .slide_box .section1 .top-box  .swiper{
    position: absolute;
    left: 0;
    /* overflow: hidden; */
    top: 0;
    width: 300px;
}
.main .slide_box .section1 .top-box .swiper .items{
    width: 2400px;
    /* transition: all 2s ease; */
}
.main .slide_box .section1 .top-box .swiper .items a{
    float: left;
}
.main .slide_box .section1 .top-box .swiper .items a img{
    width: 300px;
    height: 256px;
}
.main .slide_box .section1 .top-box .beyouself{
    height: 256px;
    position: relative;
}
.main .slide_box .section1 .top-box .beyouself p{
    font-size: 50px;
    text-align: center;
    line-height: 256px;
    transition: all 1s;
    color: limegreen;
}
.main .slide_box .section1 .top-box .beyouself p:nth-child(2){
    width: 30px;
    position: absolute;
    top: -40px;
    right: 100px;
    line-height: 60px;
    transform: translateY(-300px);
    opacity: 0;
}
.main .slide_box .section1 .top-box .beyouself:hover p:nth-child(1){
    transform: translateX(-100px);
}
.main .slide_box .section1 .top-box .beyouself:hover p:nth-child(2){
    transform: translateY(80px);
    opacity: 1;
}
.main .slide_box .section1 .article{
    border-radius: 5px;
    margin-top: 30px;
    overflow: hidden;
    background:linear-gradient(to bottom ,skyblue,blue);
}
.main .slide_box .section1 .article p{
    font-family: "楷体";
    padding: 20px;
    font-size: 18px;
    text-indent: 28px;
    color: #f0f0f0;
}
.main .slide_box .section1 .article h2{
    line-height: 50px;
    font-size: 30px;
    font-style: italic;
    display: block;
    background:linear-gradient(to right ,yellow,red);
}
 .words{
    position: absolute;
    font-size: 24px;
    z-index: 99;
    transform-origin: left bottom;
}
.section2{
    background: yellowgreen;
    height: 500px;
    width: 1200px;
    border-radius: 5px;
}
.section3{
    background: skyblue;
    height: 500px;
    width: 1200px;
    border-radius: 5px;
}
.section4{
    background: orange;
    height: 500px;
    width: 1200px;
    border-radius: 5px;
}
.section5{
    background: purple;
    height: 500px;
    width: 1200px;
    border-radius: 5px;
}

.section2 .about-me{
   margin: 20px; 
}
.section2 .about-me li{
    line-height: 50px;
    height: 50px;
    margin: 10px 0;
    padding-bottom: 60px;
    border-bottom: 2px solid darkgoldenrod;
}
.section2 .about-me li button{
    width: 120px;
    height: 50px;
    float: left;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    transition: all 0.5s;
}
.section2 .about-me li button:hover{
    background-color: orangered;
    color: #fff;
}
.section2 .about-me li span{
    font-size: 20px;
    float: left;
    margin-left: 200px;
}
