---
import { getSubway } from "@/utils/index";
// 公共 Layout
import Layout from "@/layouts/Layout/Layout.astro";
const subway = await getSubway();
const { subways,  destination } = subway.data;
type Subway = {
  XLMC: string,
  ZDJS: string,
  ID: string,
  isTransfer?: boolean,
  transfer?: string[],
  ZDMZ: string
}
type Subways = {
    title: string,
    destination: string[],
    subways: Subway[]
}
const transfers: Record<string, string[]> = {}
const list:Subways[] = []
Object.keys(destination).forEach(key => {
    let station = {
    title: key + '号线',
    destination: destination[key],
    subways: subways.filter((item:Subway) => item.XLMC === key).map((item:Subway) => {
        const isTransfer = item.ZDJS.includes('换乘')
        if (isTransfer) {
            transfers[key] && (transfers[key] = Array.from(new Set([...transfers[key], item.ZDMZ])))
            !transfers[key] && (transfers[key] = [item.ZDMZ])
        }
        return {
            ...item,
            isTransfer
        }
    })
  }
  list.push(station)
})
list.map(el => {
    el.subways.forEach(item => {
        if (item.isTransfer) {
            item.transfer = []
            for (const key in transfers) {
                if (transfers[key].includes(item.ZDMZ) && key !== item.XLMC) {
                    item.transfer.push(key)
                }
            }
        }
    })
})
// console.log(list[0].subways, transfers, 'subway');
---
<Layout title={"地铁信息"} description={'深圳市地铁信息'} activeNav={'subway'}>
    {
        list.map(el=> <div class="my-4"><b-collapse title={el.title + '（终点站： ' + el.destination.join('、') + '）'}>
            {/* grid grid-cols-3 md:grid-cols-4 md:grid-cols-6 */}
            <div class="flex gap-4 flex-wrap">
                {
                    el.subways.map(item => (
                        <div class="byt-subway-item">
                            <b-tooltip content={item.ZDJS} trigger-action="hover">
                                <b-button class="byt-subway-name" type={item.transfer?.length ? 'primary' : 'info'}>{item.ZDMZ}{item.transfer?.length ? `（可换乘${item.transfer.join('、')}号线）` : ''}</b-button>
                            </b-tooltip>
                            {/* <span class="byt-subway-desc">{item.ZDJS}</span> */}
                        </div>
                    ))
                }
            </div>
        </b-collapse></div>)
    }
	<script>
        const collapses:any = document.querySelectorAll('b-collapse');
      
        const handleShow = (index:number) => {
          collapses.forEach((collapse:any, i:number) => {
            collapse.open = i === index;
          });
        };
      
        collapses.forEach((collapse:any, index:number) => {
          collapse.addEventListener('show', () => handleShow(index));
        });
      </script>
</Layout>